.custom-input {
  padding: 10px 18px 10px 18px;
  border-color: #2b3553;
  border-radius: 0.4285rem;
  background-color: transparent;
  background-clip: border-box;
  font-size: 0.75rem;
  color: #687279;
  border: 1px solid #2b3354;
  height: calc(2.25rem + 2px);
  box-shadow: none;
}
